In [1]:
import numpy as np
import pandas as pd

## 2009

In [20]:
# assistment2009 = pd.read_csv("../data/assistments2009/skill_builder_data_corrected_collapsed.csv")
assistment2009 = pd.read_csv("../data/ASSISTments2009/skill_builder_data_corrected.csv")
assistment2009.head()

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,NaN,26,0,NaN,1,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,NaN,55,0,NaN,2,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,NaN,88,0,NaN,1,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,NaN,41,0,NaN,2,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,NaN,65,0,0.0,3,3.0

In [24]:
train2009 = assistment2009[["user_id", "skill_id", "correct"]].dropna()

user_ids = train2009["user_id"].unique()
skill_ids = train2009["skill_id"].unique()
print(len(user_ids), len(skill_ids))

train2009.to_csv("../data/assistments2009/assistments2009.csv", index=False)

4163 123

## 2012

In [25]:
## 2012
assistments_2012 = pd.read_csv("../data/2012-2013-data-with-predictions-4-final/2012-2013-data-with-predictions-4-final.csv")

print(assistments_2012.shape)
assistments_2012.head()

(6123270, 35)

,problem_log_id,skill,problem_id,user_id,assignment_id,assistment_id,start_time,end_time,problem_type,original,...,overlap_time,template_id,answer_id,answer_text,first_action,problemlogid,Average_confidence(FRUSTRATED),Average_confidence(CONFUSED),Average_confidence(CONCENTRATING),Average_confidence(BORED)
0,137792159,NaN,557460,61394,565736,341511,2012-09-28 15:11:27,2012-09-28 15:11:36.856,choose_1,1,...,9852,341511,NaN,she,0,137792159,0.361323,0.0,0.336529,0.000000
1,138083797,Rounding,365981,61394,573819,204043,2012-10-09 11:01:52,2012-10-09 11:02:13.182,algebra,1,...,21175,204043,NaN,74.29,0,138083797,0.361323,0.0,0.766925,0.000000
2,142332619,Multiplication and Division Integers,426415,61394,734130,247525,2013-03-07 10:53:20,2013-03-07 10:53:28.661,algebra,1,...,8645,247525,NaN,00,0,142332619,0.361323,0.0,0.766925,0.442968
3,145939397,Proportion,86686,61394,821352,48081,2013-08-20 19:54:56,2013-08-20 19:55:21.753,algebra,1,...,25728,46362,NaN,3.8,0,145939397,0.775000,0.0,0.766925,0.912281
4,137111284,NaN,399669,76592,557216,227869,2012-09-10 17:20:10,2012-09-10 17:24:56.579,choose_1,1,...,286578,227869,NaN,C (wr - 1)(wr + 1),0,137111284,0.361323,0.0,0.766925,0.000000

In [27]:
train2012 = assistments_2012[["user_id", "skill_id", "correct"]].dropna()

user_ids = train2012["user_id"].unique()
skill_ids = train2012["skill_id"].unique()
print(len(user_ids), len(skill_ids))

train2012.to_csv("../data/assistments2012/assistments2012.csv", index=False)

29018 265

## 2015

In [29]:
assistments_2015 = pd.read_csv("../data/ASSISTments2015/2015_100_skill_builders_main_problems.csv")

print(assistments_2015.shape)
assistments_2015.head()

(708631, 4)

   user_id     log_id  sequence_id  correct
0    50121  167478035         7014      0.0
1    50121  167478043         7014      1.0
2    50121  167478053         7014      1.0
3    50121  167478069         7014      1.0
4    50964  167478041         7014      1.0

In [31]:
train2015 = assistments_2015[["user_id", "sequence_id", "correct"]].dropna()

user_ids = train2015["user_id"].unique()
skill_ids = train2015["sequence_id"].unique()
print(len(user_ids), len(skill_ids))

train2015.to_csv("../data/assistments2015/assistments2015.csv", index=False)

19917 100